.showcase-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.poke-type {
  background-color: #008000;
  color: white;
}

.poke-move {
  background-color: #fff;
  color: #008000;
}
